#dashboard-fc {
  position: relative;
  z-index: 2;
  background: #d6d6d6dc;
  box-shadow: 2px 2px 4px #111;
  height: 80vh;
  width: 400px;
  margin: 40px;
  padding: 1px 20px;
  h1 {
    text-align: center;
    margin: 20px 0;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
  }
}

#loader {
  margin: 50% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20%;
}

#fc__following-wrapper {
  background: #fff;
  height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 2px 2px 4px #111;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px green;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      padding: 5px 10px;
      outline: none;
      background: none;
      border: none;
      border-bottom: 2px solid #777;
    }
  }
}

#followingFilter-wrapper {
  position: sticky;
  top: 0;
  background: #ffffffab;
  padding: 10px 0;
}

@media (max-device-width: 927px) {
  #dashboard-fc {
    h1 {
      font-size: 2rem;
    }
  }
}

@media (max-device-width: 810px) {
  #dashboard-fc {
    width: 80vw;
    margin: 20px auto;
    height: 60vh;
  }
}

@media (max-device-width: 544px) {
  #dashboard-fc {
    width: 90vw;
  }
}
