#dashboard-followingCard {
  display: flex;
  align-items: center;
  background: rgb(238, 238, 238);
  box-shadow: 2px 2px 2px #555;
  width: 90%;
  height: 100px;
  margin: 10px auto;
  padding: 5px;
  transition: all ease-in 70ms;
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}

#followingCard__img-container {
  height: 100%;
  width: 30%;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
}

#followingCard__info {
  margin: 0 0 0 10px;
  h4 {
    font-weight: 500;
    font-size: 1.4rem;
  }
  h5 {
    font-weight: 300;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }
}

@media (max-device-width: 927px) {
  #followingCard__info {
    h4 {
      font-size: 1.5rem;
    }
  }
}