#dashboard-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #23292e;
  height: 60px;
  h1,
  a {
    margin: 0 30px;
    color: #fff;
  }
  h1 {
    &:hover {
      cursor: pointer;
    }
  }
  a {
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 5px 15px;
    transition: all 100ms ease-in-out;
    &:hover {
      cursor: pointer;
      color: #23292e;
      background: #fff;
    }
  }
}

#nav__left-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info__back {
  border: 1px solid #fff;
  padding: 4px 8px;
  margin: 0 0 0 13px;
  color: #fff;    
  transition: all 80ms ease-in-out;
  h5 {
    font-size: 0.8rem;
  }
  &:hover {
    cursor: pointer;
    color: #23292e;
    background: #fff;
  }
}

@media (max-device-width: 632px) {
  #dashboard-nav {
    h1 {
      font-size: 1.5rem;
    }
  }
}

@media (max-device-width: 544px) {
  #dashboard-nav {
    a {
      font-size: 0.7rem;
      border: 1px solid #fff;
    }
  }
}

@media (max-device-width: 404px) {
  #dashboard-nav {
    h1 {
      font-size: 1rem;
    }
  }
}
