// ! very bad you fired little boi
// except am actually slowly balding man, yeet

.tendenciesCard {
  // * dis be how you do dis now otay?
  // otay. I do the learn thing
  div {
    display: flex;
    flex-direction: column;

    p {
      font-size: 1.1rem;

    }
  }
}