#dashboard-searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #999;
  height: 15vh;
  margin: 0 0 5vh;
  form {
    width: 75%;
    input {
      width: 100%;
      font-size: 1.5rem;
      padding: 10px 15px;
      outline: none;
    }
  }
}
